@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 100px;
  --landing-height: calc(100vh - var(--navbar-height));
}

* {
  @apply font-popins;
}

.bt-outline {
  @apply border-[2px] border-primary text-primary font-bold transition-colors hover:bg-primary hover:text-white;
}

.bt-contained {
  @apply bg-primary text-white font-bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
